<p>Bienvenue dans Courses!</p>

<h1>{{ courseName }}</h1>

<button [disabled]="isDisabled">Commencer</button>

<br>
<button (click)="startCourse()">Commencer le cours</button>
<br>
<input [(ngModel)]="courseDescription" placeholder="Entrez la description">
<p>{{courseDescription}}</p>
<br>
<ul>
    <li *ngFor="let course of courses">{{ course.name }}:{{course.description}}</li>
</ul>

   
<h1>Liste des cours</h1>
<ul>
  <li *ngFor="let course of courses">
    <app-course-item [course]="course" (courseSelected)="onCourseSelected($event)"></app-course-item>
  </li>
</ul>